.gallery {
    padding-top: 46px;
    padding-bottom: 94px;
}

.gallery__h2 {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
}

.gallery__ul {
    display: flex;
}

.gallery__li1 {
    margin-right: 30px;
}

.gallery__block {
    position: relative;
}

.gallery__text1 {
    position: absolute;
    width: 370px;
    height: 70px;
    top: 224px;
    bottom: 0px;
padding-top: 27px;
padding-bottom: 27px;
padding-right: 82px;
padding-left: 83px;
font-weight: bold;
font-size: 14px;
line-height: 16px;

letter-spacing: 0.03em;
text-transform: uppercase;
background-color: rgba(47, 48, 58, 0.8);;
color: var(--white-color);
}

.gallery__li2 {
    margin-right: 30px;
}

.gallery__text2 {
    position: absolute;
    
    width: 370px;
    height: 70px;
    
    top: 224px;
    bottom: 0px;
padding-top: 27px;
padding-bottom: 27px;

padding-left: 86px;
font-weight: bold;
font-size: 14px;
line-height: 16px;

letter-spacing: 0.03em;
text-transform: uppercase;
background-color: rgba(47, 48, 58, 0.8);;
color: var(--white-color);

}

.gallery__text3 {
    position: absolute;
    
    width: 370px;
    height: 70px;
    
    top: 224px;
    bottom: 0px;
padding-top: 27px;
padding-bottom: 27px;

padding-left: 90px;
font-weight: bold;
font-size: 14px;
line-height: 16px;

letter-spacing: 0.03em;
text-transform: uppercase;
background-color: rgba(47, 48, 58, 0.8);;
color: var(--white-color);

}